<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="todo.get('email').hasError('required')">Email is required</ion-note>
      <ion-note slot="error"*ngIf="todo.get('email').hasError('email')">Invalid email</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="todo.get('password').hasError('minLength')">The length of password is minimum 10</ion-note>
      <ion-note slot="error" *ngIf="todo.get('password').hasError('required')">Password is required</ion-note>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" [disabled]="!todo.valid || disableInput">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>